In [1]:
# Import dependancies 
import pandas as pd

In [2]:
# Locate data
Furano_Ski_Resort_to_load = "C:\\Users\\haley\\Desktop\\Snow_data_analysis\\Resources\\Furano_Ski_Resort.csv"

In [4]:
#Read the Craigieburn_Valley data
Furano_Ski_Resort_df = pd.read_csv(Furano_Ski_Resort_to_load)

In [6]:
Furano_Ski_Resort_df

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,631152000,1990-01-01 00:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,7.38,NaN,4.42,7.38,...,NaN,NaN,NaN,NaN,NaN,74,803,Clouds,broken clouds,04d
1,631155600,1990-01-01 01:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,12.74,NaN,9.25,12.74,...,NaN,NaN,NaN,NaN,NaN,54,803,Clouds,broken clouds,04d
2,631159200,1990-01-01 02:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,16.02,NaN,12.24,16.02,...,NaN,NaN,NaN,NaN,NaN,24,801,Clouds,few clouds,02d
3,631162800,1990-01-01 03:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,19.17,NaN,14.85,13.46,...,NaN,NaN,NaN,NaN,NaN,27,802,Clouds,scattered clouds,03d
4,631166400,1990-01-01 04:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,19.51,NaN,14.92,12.83,...,NaN,NaN,NaN,NaN,NaN,53,803,Clouds,broken clouds,04d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287587,1666465200,2022-10-22 19:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,40.41,NaN,38.55,36.73,...,10.80,NaN,NaN,NaN,NaN,27,802,Clouds,scattered clouds,03n
287588,1666468800,2022-10-22 20:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,41.07,NaN,40.28,38.28,...,8.75,NaN,NaN,NaN,NaN,81,803,Clouds,broken clouds,04n
287589,1666472400,2022-10-22 21:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,41.07,NaN,40.28,38.28,...,8.75,NaN,NaN,NaN,NaN,81,803,Clouds,broken clouds,04d
287590,1666476000,2022-10-22 22:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,43.92,NaN,43.12,41.58,...,8.75,NaN,NaN,NaN,NaN,81,803,Clouds,broken clouds,04d
287591,1666479600,2022-10-22 23:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,46.18,NaN,42.53,43.25,...,11.43,NaN,1.0,NaN,NaN,100,500,Rain,light rain,10d