### Import Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [2]:
timberline_df = pd.read_csv('./timberline.csv')

In [3]:
timberline_df

,dt,dt_iso,timezone,city_name,lat,lon,temp,dew_point,feels_like,temp_min,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,631152000,1990-01-01 00:00:00 +0000 UTC,-28800,Timberline Lodge,45.331128,-121.711006,36.03,34.21,29.80,36.03,...,NaN,0.31,NaN,NaN,NaN,76,500,Rain,light rain,10d
1,631155600,1990-01-01 01:00:00 +0000 UTC,-28800,Timberline Lodge,45.331128,-121.711006,36.28,34.47,30.67,36.28,...,NaN,0.27,NaN,NaN,NaN,92,500,Rain,light rain,10n
2,631159200,1990-01-01 02:00:00 +0000 UTC,-28800,Timberline Lodge,45.331128,-121.711006,33.69,32.41,27.90,33.69,...,NaN,NaN,NaN,0.21,NaN,98,600,Snow,light snow,13n
3,631162800,1990-01-01 03:00:00 +0000 UTC,-28800,Timberline Lodge,45.331128,-121.711006,34.05,32.77,28.47,34.05,...,NaN,NaN,NaN,0.19,NaN,97,600,Snow,light snow,13n
4,631166400,1990-01-01 04:00:00 +0000 UTC,-28800,Timberline Lodge,45.331128,-121.711006,34.21,32.94,28.67,34.21,...,NaN,NaN,NaN,0.19,NaN,96,600,Snow,light snow,13n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287587,1666465200,2022-10-22 19:00:00 +0000 UTC,-25200,Timberline Lodge,45.331128,-121.711006,30.90,29.55,18.30,28.22,...,45.99,NaN,NaN,0.76,NaN,92,601,Snow,snow,13d
287588,1666468800,2022-10-22 20:00:00 +0000 UTC,-25200,Timberline Lodge,45.331128,-121.711006,30.52,29.19,17.92,28.06,...,40.00,NaN,NaN,1.52,NaN,87,601,Snow,snow,13d
287589,1666472400,2022-10-22 21:00:00 +0000 UTC,-25200,Timberline Lodge,45.331128,-121.711006,29.62,28.29,17.02,27.95,...,44.00,NaN,NaN,1.78,NaN,87,601,Snow,snow,13d
287590,1666476000,2022-10-22 22:00:00 +0000 UTC,-25200,Timberline Lodge,45.331128,-121.711006,29.91,28.58,17.31,28.85,...,45.99,NaN,NaN,1.27,NaN,87,601,Snow,snow,13d
287591,1666479600,2022-10-22 23:00:00 +0000 UTC,-25200,Timberline Lodge,45.331128,-121.711006,30.34,29.01,17.74,28.78,...,45.99,NaN,NaN,1.52,NaN,61,601,Snow,snow,13d

### Clean Dataset

In [4]:

# Drop irrevelant columns
timberline_df = timberline_df.drop(columns=['timezone', 'lat', 'lon', 'dew_point', 'feels_like', 'pressure', 'sea_level', 'grnd_level', 'wind_speed', 'wind_deg', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_3h', 'clouds_all', 'weather_id', 'weather_icon'])
# Fill NaN with 0
timberline_df = timberline_df.fillna(0)

In [5]:
timberline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287592 entries, 0 to 287591
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt                   287592 non-null  int64
 1   dt_iso               287592 non-null  object
 2   city_name            287592 non-null  object
 3   temp                 287592 non-null  float64
 4   temp_min             287592 non-null  float64
 5   temp_max             287592 non-null  float64
 6   humidity             287592 non-null  int64
 7   snow_1h              287592 non-null  float64
 8   weather_main         287592 non-null  object
 9   weather_description  287592 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 21.9+ MB

In [6]:
# Convert dt to usable Datetime for index
datetime_info =  pd.to_datetime(timberline_df['dt'],unit='s')

In [7]:
# Set the index as datetime
timberline_datetime_index = timberline_df.set_index(datetime_info)
timberline_datetime_index

,dt,dt_iso,city_name,temp,temp_min,temp_max,humidity,snow_1h,weather_main,weather_description
dt,,,,,,,,,,
1990-01-01 00:00:00,631152000,1990-01-01 00:00:00 +0000 UTC,Timberline Lodge,36.03,36.03,36.03,93,0.00,Rain,light rain
1990-01-01 01:00:00,631155600,1990-01-01 01:00:00 +0000 UTC,Timberline Lodge,36.28,36.28,36.28,93,0.00,Rain,light rain
1990-01-01 02:00:00,631159200,1990-01-01 02:00:00 +0000 UTC,Timberline Lodge,33.69,33.69,33.69,95,0.21,Snow,light snow
1990-01-01 03:00:00,631162800,1990-01-01 03:00:00 +0000 UTC,Timberline Lodge,34.05,34.05,34.05,95,0.19,Snow,light snow
1990-01-01 04:00:00,631166400,1990-01-01 04:00:00 +0000 UTC,Timberline Lodge,34.21,34.21,34.21,95,0.19,Snow,light snow
...,...,...,...,...,...,...,...,...,...,...
2022-10-22 19:00:00,1666465200,2022-10-22 19:00:00 +0000 UTC,Timberline Lodge,30.90,28.22,34.79,94,0.76,Snow,snow
2022-10-22 20:00:00,1666468800,2022-10-22 20:00:00 +0000 UTC,Timberline Lodge,30.52,28.06,35.76,94,1.52,Snow,snow
2022-10-22 21:00:00,1666472400,2022-10-22 21:00:00 +0000 UTC,Timberline Lodge,29.62,27.95,30.87,94,1.78,Snow,snow
2022-10-22 22:00:00,1666476000,2022-10-22 22:00:00 +0000 UTC,Timberline Lodge,29.91,28.85,32.41,94,1.27,Snow,snow
2022-10-22 23:00:00,1666479600,2022-10-22 23:00:00 +0000 UTC,Timberline Lodge,30.34,28.78,32.20,94,1.52,Snow,snow

In [8]:
# Resample data to reduce 24 hourly rows to 1 daily row - also remove columns not needed 
# (dt, dt_iso, city_name, weather_main, weather_description)
resampled_df = timberline_datetime_index.resample('D').agg({'temp': 'mean', 'temp_min' : 'mean', 'temp_max' : 'mean', 'humidity' : 'mean', 'snow_1h' : 'sum'})

In [9]:
resampled_df

                 temp   temp_min   temp_max   humidity  snow_1h
dt
1990-01-01  32.980417  32.980417  32.980417  95.000000    12.10
1990-01-02  27.535833  27.535833  27.535833  91.500000     9.90
1990-01-03  30.131250  30.131250  30.131250  91.083333     0.53
1990-01-04  34.822083  34.822083  34.822083  91.791667     4.85
1990-01-05  38.994167  38.994167  38.994167  94.333333     0.00
...               ...        ...        ...        ...      ...
2022-10-18  48.152917  42.926250  52.189167  48.583333     0.00
2022-10-19  49.899167  45.100417  54.120000  42.875000     0.00
2022-10-20  49.231250  44.384583  54.397500  36.458333     0.00
2022-10-21  39.027917  34.692083  41.542083  74.416667     0.25
2022-10-22  31.549583  26.871667  33.675000  94.625000    25.65

[11983 rows x 5 columns]

In [10]:
# Rename 'snow_1h' column to 'snowfall'
finished_df = resampled_df.rename(columns={"snow_1h" : "snowfall"})
finished_df

                 temp   temp_min   temp_max   humidity  snowfall
dt
1990-01-01  32.980417  32.980417  32.980417  95.000000     12.10
1990-01-02  27.535833  27.535833  27.535833  91.500000      9.90
1990-01-03  30.131250  30.131250  30.131250  91.083333      0.53
1990-01-04  34.822083  34.822083  34.822083  91.791667      4.85
1990-01-05  38.994167  38.994167  38.994167  94.333333      0.00
...               ...        ...        ...        ...       ...
2022-10-18  48.152917  42.926250  52.189167  48.583333      0.00
2022-10-19  49.899167  45.100417  54.120000  42.875000      0.00
2022-10-20  49.231250  44.384583  54.397500  36.458333      0.00
2022-10-21  39.027917  34.692083  41.542083  74.416667      0.25
2022-10-22  31.549583  26.871667  33.675000  94.625000     25.65

[11983 rows x 5 columns]

In [11]:
# Round all columns to two decimal places
finished_df = finished_df[['temp', 'temp_min', 'temp_max', 'humidity']].round(2)
finished_df

             temp  temp_min  temp_max  humidity
dt
1990-01-01  32.98     32.98     32.98     95.00
1990-01-02  27.54     27.54     27.54     91.50
1990-01-03  30.13     30.13     30.13     91.08
1990-01-04  34.82     34.82     34.82     91.79
1990-01-05  38.99     38.99     38.99     94.33
...           ...       ...       ...       ...
2022-10-18  48.15     42.93     52.19     48.58
2022-10-19  49.90     45.10     54.12     42.88
2022-10-20  49.23     44.38     54.40     36.46
2022-10-21  39.03     34.69     41.54     74.42
2022-10-22  31.55     26.87     33.68     94.62

[11983 rows x 4 columns]

In [12]:
# db_string used to connect to postgres
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/snow_data"

In [13]:
# create a Database engine to connect to postgres using the db_string
engine = create_engine(db_string)

In [14]:
finished_df.to_sql(name='timberline', con=engine)

983